<!-- col-md-10 with offset 1 => total 8 column with offset of 1 column on each side i.e. 12 columns -->
<div class="col-md-10 col-md-offset-1">
  <div class="new-review-form">
   <h1> Post review </h1>
   <%= render 'form'%>
  </div>
</div>